<%= render partial: "admin_site/admin_navbar" %>

<div class="page-content">
  
  <div class="content-column">
    <div class="content-header">List of Merchants</div>
    <ol class="content-ordered-list">
      <% @merchants.each do |merchant| %>
        <li class="ordered-list-item">
          <%= link_to merchant.name, admin_site_merchant_path(merchant) %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="content-column">
    <div class="content-header">We Dunno Yet</div>

  </div>

</div>
