<h1> Merchant <%= @merchant.name %></h1>

<section class="name_of_items">
  <% @merchant.all_items.each do |item| %>
    <h3> <%= link_to "#{item.name}", merchant_item_path(@merchant, item.id) %> </h3>
  <% end %>
</section>