<section class="item_attributes">
  <h1> <%= @item.name %> </h1>

  <p><b> Description: </b> <%= @item.description %> </p>
  <p><b> Current Selling Price: </b> <%= @item.formatted_unit_price %> </p>
</section>